*.log
*.trs

amo_set_fetch
amo_set_wait_until
barrier
hello
int_amo
int_amo_heap
int_put
int_put_heap
iput
iput_quiet
putmem_quiet
putmem_quiet_stext
space_ctx_int_put
space_int_amo
space_int_put
team
threaded_init_funneled
threaded_init_multiple
threaded_init_serialized
threaded_init_single
